.plottery-properties-panel {
  min-width: 330px;
}

.plottery-properties-panel .plottery-args {
  /* Hmmm, the below cause the dropdown widget menus to disappear */
  /* max-height: 50vh; */
  /* overflow: auto; */
  padding: 4px 8px;
}

.plottery-properties-panel .plottery-arg-view {
  margin-bottom: 2px;
  margin-top: 2px;
}

.plottery-properties-panel .plottery-arg-view:first-child {
  margin-top: 0px;
}

.plottery-properties-panel .plottery-arg-view:last-child {
  margin-bottom: 0px;
}
