.sketch-n-plot-logo {
  margin: 0;
}

.plottery-sidebar-menu-bar {
  display: flex;
  align-items: center;

  /* position: relative;
  height: 2em;
  width: 33em;
  height: 27.5px;
  overflow: visible;
  border-bottom: solid 1px black;
  background-color: white;
  z-index: 3; */
  background-color: whitesmoke;

  border: 1px solid lightgray;
  border-radius: 1px;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
}

.plottery-sidebar-menu-bar > .plottery-menu > .plottery-menu-name {
  padding: 4px 10px;
}

.plottery-fig-selector {
  max-width: 130px;
}