.snp-sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* border-top: 1px solid #ababab;  */

  /* border: 1px solid #ababab; */
  /* box-shadow: 4px 4px 11px #00000026; */
  /* border-radius: 2px; */

  padding: 0px;

  top: 0px;
  left: 0px;


  font-family: monospace;
  font-size: 14px;
  white-space: pre;
  margin: 10px;
  z-index: 5;
}

.snp-artists {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

