.snp-sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* border-top: 1px solid #ababab;  */

  /* border: 1px solid #ababab; */
  /* box-shadow: 4px 4px 11px #00000026; */
  /* border-radius: 2px; */

  padding: 0px;

  /* top: 0px; */
  /* left: 0px; */


  margin: 10px;
  z-index: 5;
}

.snp-sidebar-menu-bar {
  /* position: relative;
  height: 2em;
  width: 33em;
  height: 2.75rem;
  overflow: visible;
  border-bottom: solid 1px black;
  background-color: white;
  z-index: 3; */
  background-color: whitesmoke;
}

.snp-sidebar-menu-bar > .snp-menu > .snp-menu-name {
  padding: 0.4rem 1rem;
}