.snp-method-view {
  border-radius: 2px;
  margin-bottom: 4px;
  padding: 0 0 0 4px;
  width: fit-content;
  display: flex;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
}

.snp-method-view:hover {
  background-color: rgba(0, 0, 0, 0.048);
}