.plot-widget {
  display: flex;
  position: relative;
}

.plot-widget.disabled {
  display: none !important;
}

.plot-widget-input {
  display: none;
  position: absolute;
  top: -20px;

  box-shadow: 0px 0px 0px 1px #0000005e, 3px 1px 5px 0px #0000003d;
  padding: 0px 3px;
  border-radius: 2px;
  color: #BA2121;
  background: #ffffff;
  left: -10px;
  font-size: 12px;

  white-space: pre;
}

.plot-widget-container {
  display: flex;
  width: calc(100% + 30px) !important;
  flex-direction: row-reverse;
}

.plot-widget-input.visible {
  display: flex;

}

.plot-widget-edit-icon {
  fill: none;
  stroke: #000000bd;
  stroke-width: 2px;
  width: 15px;
  cursor: pointer;
}

.plot-widget-edit-icon {
  fill: none;
  stroke: #777777bd;
  stroke-width: 2px;
  width: 12px;
}

.plot-widget-edit-icon:hover {
  stroke: #5b0f88bd;
}

.plot-widget-edit-icon.toggled {
  stroke: #5b0f88bd;
}