.plottery-widget.arbitrary-code-widget {
  min-width: 45px;
}

.plottery-dropdown:hover .plottery-dropdown-selected-item .plottery-widget.arbitrary-code-widget {
  border: solid 1px gray;
  margin: -1px 1px -1px -1px;
}

.plottery-chain-link .plottery-widget.arbitrary-code-widget {
  /* Lessen chances of code going off the edge of the properties panel: */
  max-width: 133px;
}
