.snp-artist-name {
  width: fit-content;
  cursor: pointer;
  border-radius: 2px;
  padding: 0px 2px;
}

.collapsed > .snp-collapsable-header > .snp-artist-name {
  color: rgba(55, 53, 47, 0.5);
}

.snp-trigger::before {
  content: "ƒ:";
  font-style: italic;
  opacity: 0.5;
  margin-right: 3px;
}

/* .snp-artist.snp-focused > .snp-collapsable-header > .snp-artist-name {
  box-shadow: 0px 0px 0px 1px rgb(94, 196, 255);
} */
.snp-artist.snp-focused > .snp-collapsable-header {
  background: #80808030;
}