.output_subarea {
  overflow: visible !important;
}

.hidden {
  display: none;
}

/* Shift everything left when the properites panel is open */
.snp_outer:has(.snp-properties-panel:not(.hidden)) {
  margin-left: -116px
}


.plot_and_sidebar {
  margin-top: 1em;
  display: flex;
  place-items: flex-start;
}

.plot_area {
  min-width: 640px;
}

.plot_area:not(:hover) .snp-method-view.placed:not(.open):not(.always-show), /* Can't hide the methods until they've been positioned */
.plot_area:not(:hover) .plot-widget .plot-widget-edit-icon,
.hover_regions.hide_during_interaction ~ .snp-method-view.placed,
.hover_regions.hide_during_interaction ~ .plot-widget {
  display: none;
}


/* g > path { */
  /* clip-path: inset(0% 0% 0% 0% round 5px); */
  /* transition: 0.2s; */
  /* fill: #00000000; */
/* } */

/* g > path.hovered { */
  /* fill: #0000002b; */
/* } */

/* .snp_outer > img {
  max-width: 350px !important;
} */

.stdout_stderr {
  font-family: monospace;
  font-size: 12px;
  line-height: 1.3;
  background: #fff0d1;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  color: #4a350a;
  width: 100%;
  overflow-x: auto;
}

.stdout_stderr:empty {
  display: none;
}


/* ----------------- Code mirror styles ----------------- */
span.cm-variable {
  color: #000;
}

span.cm-number {
  color: #080;
}

span.cm-operator {
  color: #AA22FF;
  font-weight: bold;
}

span.cm-builtin {
  color: #008000;
}

span.cm-string {
  color: #BA2121;
}