.snp_outer {
  align-items: center;
}

.snp_outer > svg {
  /* display: none; */
  max-width: 350px!important;
  border: none !important;
  overflow: visible;
}

.snp_outer > svg path {

}

g > path {
  /* clip-path: inset(0% 0% 0% 0% round 5px); */
  transition: 0.2s;
  fill: #00000000;
}

g > path.hovered {
  fill: #0000002b;
}

.snp_outer > img {
  max-width: 350px !important;
}

.stdout_stderr {
  font-family: monospace;
  font-size: 14px;
  background: #fff0d1;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  color: #4a350a;
  display: flex;
  width: fit-content;
}

.stdout_stderr:empty {
  display: none;
}

.snp_outer svg path {

}

/* ----------------- Code mirror styles ----------------- */
span.cm-variable {
  color: #000;
}

span.cm-number {
  color: #080;
}

span.cm-operator {
  color: #AA22FF;
  font-weight: bold;
}

span.cm-builtin {
  color: #008000;
}

span.cm-string {
  color: #BA2121;
}

