.snp-slider-base::before {
  background-color: black;
  border-radius: 1px;
  bottom: 0;
  content: "";
  left: 4px;
  opacity: .15;
  position: absolute;
  top: 0;
  width: 1.5px;
  transition: 0.1s;
}

.snp-slider-base {
  width: 8px;
  margin: 3px 0px 3px 0;
  position: relative;
  cursor: ew-resize;
}

.snp-slider {
  display: flex;
}

.snp-slider-base:hover::before {
  opacity: 0.3;
}

.snp-slider.pressed > .snp-slider-base::before {
  opacity: 0.5;
  margin: 2px 0px;
}

.snp-slider-spring {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.snp-spring-svg {
  overflow: visible;
}

.snp-spring-svg-p1 {
  fill: none;
  stroke: rgba(0, 0, 0, 0.317);
  stroke-dasharray: 2 1;
}

.snp-spring-svg-p2 {
  fill: none;
  stroke: rgba(0, 0, 0, 0.317);
}

.snp-slider > .snp-slider-spring > .snp-spring-svg {
  opacity: 0;
  pointer-events: none;
  transform: translate(6.5px, 6px);
  overflow: visible !important;
}

.snp-slider.pressed > .snp-slider-spring > .snp-spring-svg {
  opacity: 1;
  pointer-events: inherit;
}