.snp-call {
  width: fit-content;
  position: relative;
}

.snp-call-name {
  /* font-style: italic; */
  background: #6f0eff17;
  color: #6a006a;
  padding: 0px 4px;
  border-radius: 2px;
  margin-left: 2px;
}

/* .snp-call-name::before {
  content: "ƒ:";
  font-style: italic;
  opacity: 0.5;
  margin-right: 3px;
} */

.snp-call-expand-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.snp-call.expanded > .snp-call-expand-button {
  background: #e5e5e5;
}

.snp-call-expand-button:hover  > svg {
  opacity: 0.7;
}

.snp-call.expanded > .snp-call-expand-button > svg {
  opacity: 0.6;
}

.snp-call.expanded > .snp-call-expand-button:hover > svg {
  opacity: 1;
}

.snp-call-expand-button > svg {
  transform: rotate(-90deg);
  width: 20px;
  opacity: 0.5;
}

.snp-call.snp-focused > .snp-collapsable-header > .snp-call-name {
  /* box-shadow: 0px 0px 0px 1px rgb(94, 196, 255); */
  background: #bc00ff33;
}

.snp-call > .snp-collapsable-header:hover {
  background: none;
}

.snp-call > .snp-collapsable-header:hover  > .snp-call-name {
  background: #bc00ff33;
}

.snp-call-kwargs-label {
  width: fit-content;
  cursor: pointer;
  border-radius: 2px;
  padding: 0px 2px;
}