.plottery-call {
  width: fit-content;
  position: relative;
}

.plottery-call-name {
  /* font-style: italic; */
  /* background: #6f0eff17; */
  font-weight: bold;
  /* color: #6a006a; */
  color: #2f67ac;
  /* padding: 0px 4px; */
  /* border-radius: 2px; */
  /* margin-left: 2px; */
}

/* .plottery-call-name::before {
  content: "ƒ:";
  font-style: italic;
  opacity: 0.5;
  margin-right: 3px;
} */

.plottery-call-expand-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.plottery-call.expanded > .plottery-call-expand-button {
  background: #e5e5e5;
}

.plottery-call-expand-button:hover  > svg {
  opacity: 0.7;
}

.plottery-call.expanded > .plottery-call-expand-button > svg {
  opacity: 0.6;
}

.plottery-call.expanded > .plottery-call-expand-button:hover > svg {
  opacity: 1;
}

.plottery-call-expand-button > svg {
  transform: rotate(-90deg);
  width: 20px;
  opacity: 0.5;
}

/* .plottery-call-kwargs-label {
  width: fit-content;
  cursor: pointer;
  border-radius: 2px;
  padding: 0px 2px;
} */