.hover_regions > svg {
  border: none;
  overflow: visible;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1,-1);
}

.hover_regions.hide_during_interaction {
  display: none;
}

.hover_regions [data-call-id].selected > path {
  stroke-width: 2px;
  stroke: #009dff;
}

.hover_regions [data-call-id].hovered:not(.selected) > path {
  stroke-width: 1px;
  stroke: #009dff;
}
